.container {
    display: flex;
    min-width: 243px;
    min-height: 42px;
    max-width: 243px;
    max-height: 42px;
    background: linear-gradient(90deg, #0000B2 15.32%, #000050 83.35%);
    border-radius: 70.8043px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}