@import "./variables.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Source Code Pro, sans-serif;
  color: #414141;
}

a {
  color: $hopr-highligt;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.topLgGap {
  margin-top: $lgGap;
}

.topGap {
  margin-top: $gap;
}

.bottomGap {
  margin-bottom: $gap;
}

.section {
  //margin-left: 16px;
  //margin-right: 16px;
}

.highlight {
  color: $hopr-highligt;
  font-weight: 600;
}

.hovered {
  border: 1px solid $hopr-hover;
}

.selected {
  border: 1px solid $hopr-select;
}

.titleText {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

.mainText {
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
}