@import "../variables.module.scss";

.welcome {
    align-items: center;
    text-align: left;
    margin-bottom: $lgGap;

    @media (min-width: $desktop-width) {
        flex-direction: row-reverse;
        margin-bottom: 0px;
    }
}

.video {
    justify-content: center;
    align-items: center;
    iframe {
        max-width: 560px;
        width: 100%;
    }
}

.clusters {
    justify-content: start;
    text-align: left;

    .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
}

.centerParagraph {
    max-width: 370px;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

.bounties {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    .textWrapper {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-top: $gap;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;
        margin-top: 0px;
    }
}