{{ ansible_managed | comment }}

deb https://mirror.hetzner.com/debian/packages  bullseye main contrib non-free
deb http://deb.debian.org/debian bullseye main contrib non-free
deb http://deb.debian.org/debian-security/ bullseye-security main contrib non-free
deb http://deb.debian.org/debian bullseye-updates main contrib non-free
